<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/public_style/font.css">
    <link rel="stylesheet" href="../static/css/ddns.css">
</head>
<body class="bg-dark text-white">
<header class="bg-dark">
    <h2 class="text-white">Natter-TencentCloud-ddns</h2>
</header>
<nav class="bg-dark">
    <ul>
        <li><a href="/"><i class="bi bi-house-fill">&nbsp;</i>主页</a></li>
        <li><a href="/natter"><i class="bi bi-ethernet">&nbsp;</i>natter</a></li>
        <li><a class="bg-primary" href="/ddns"><i class="bi bi-hdd-rack-fill">&nbsp;</i>ddns</a></li>
        <li><a href="/GIT"><i class="bi bi-git">&nbsp;</i>Git ID</a></li>
    </ul>
    <ul class="mt-3 border-bottom border-secondary border-1">
        <form>
            <li>
                <span id="natter-tips"
                      class="btn bg-secondary text-white text-decoration-none">在此填写 DDNS 相关信息</span>
                <br><br>
            </li>
        </form>
    </ul>
</nav>

<div class="container mt-5">
    <form method="post">
        {{ form.hidden_tag() }}

        <!-- 表单字段 -->

        <h1>IPV4</h1>

        <div class="form-group">
            {{ form.script1_record_id.label }}
            {{ form.script1_record_id(class="form-control", placeholder="Record_ID") }}
        </div>

        <div class="form-group">
            {{ form.script1_subdomain.label }}
            {{ form.script1_subdomain(class="form-control", placeholder="主机记录，如 www，一般填‘@’即可。（代表所有链接都指向你解析的IP）")
            }}
        </div>

        <div class="form-group">
            {{ form.script1_record_line.label }}
            {{ form.script1_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.script1_RecordType.label }}
            {{ form.script1_RecordType(class="form-control", placeholder="记录类型，填‘A’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.script1_sleep.label }}
            {{ form.script1_sleep(class="form-control", placeholder="ddns检测更新的等待间隔，单位秒" ) }}
        </div>

        <h1>SRV</h1>

        <div class="form-group">
            {{ form.script2_record_line.label }}
            {{ form.script2_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.script2_RecordType.label }}
            {{ form.script2_RecordType(class="form-control", placeholder="记录类型，填‘SRV’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.script2_sleep.label }}
            {{ form.script2_sleep(class="form-control", placeholder="ddns检测更新的等待间隔，单位秒" ) }}
        </div>

        <!-- 美化的提交按钮 -->
        <button type="submit" class="btn btn-primary custom-submit-button">保存</button>

    </form>


</div>

</body>
</html>
