<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/public_style/font.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script>
        var natterLog = document.getElementById('natter-log-content');
        var ddnsLog = document.getElementById('ddns-log-content');

        function updateNatterLog(logContent) {
            natterLog.textContent = logContent;
        }

        function updateDdnsLog(logContent) {
            ddnsLog.textContent = logContent;
        }
    </script>
</head>
<body class="bg-dark">
<div>
    <header class="bg-dark">
        <h2 class="text-white">Natter-TencentCloud-ddns</h2>
    </header>
    <nav class="bg-dark mb-3">
        <ul>
            <li><a class="bg-primary" href="/"><i class="bi bi-house-fill">&nbsp;</i>主页</a></li>
            <li><a href="/natter"><i class="bi bi-ethernet">&nbsp;</i>natter</a></li>
            <li><a href="/ddns"><i class="bi bi-hdd-rack-fill">&nbsp;</i>ddns</a></li>
            <li><a href="/GIT"><i class="bi bi-git">&nbsp;</i>Git ID</a></li>
        </ul>
        <ul class="mt-3">
            <form method="post" action="/start_natter">
                <li>
                    <button class="btn btn-success" type="submit" name="natter_button_clicked" value="true">
                        <i class="bi bi-arrow-right-circle"></i>
                        &nbsp;启动&nbsp;Natter
                    </button>
                </li>
            </form>
            <form method="post" action="/start_ddns">
                <li>
                    <button class="btn btn-success" type="submit" name="ddns_button_clicked" value="true">
                        <i class="bi bi-arrow-right-circle"></i>
                        &nbsp;启动&nbsp;DDNS
                    </button>
                </li>
            </form>
            <form>
                <li>
                    <a href="/" class="btn btn-outline-warning">
                        <i class="bi bi-arrow-clockwise"></i>
                        &nbsp;刷新网页日志
                    </a>
                </li>
            </form>
        </ul>
        <br>
    </nav>
</div>

<div id="logs-container">
    <div class="bg-secondary text-white" id="natter-logs">
        <h3>Natter 日志</h3>
        <pre id="natter-log-content">{{ natter_log|default('无日志输出') }}</pre>
    </div>
    <div class="bg-secondary text-white" id="ddns-logs">
        <h3>DDNS 日志</h3>
        <pre id="ddns-log-content">{{ ddns_log|default('无日志输出') }}</pre>
    </div>
</div>
<br>
<script>
    window.onload = function () {
    };
</script>

</body>
</html>
