<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/lib/bootstrap-5.3.2-dist/css/bootstrap.css">
    <link rel="stylesheet" href="../static/lib/bootstrap-icons-1.11.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../static/css/public_style/font.css">
    <link rel="stylesheet" href="../static/css/natter.css">
</head>
<body class="text-white bg-dark">
<header class="bg-dark">
    <h2 class="text-white">Natter-TencentCloud-ddns</h2>
</header>
<nav class="bg-dark">
    <ul>
        <li><a href="/"><i class="bi bi-house-fill">&nbsp;</i>主页</a></li>
        <li><a class="bg-primary" href="/natter"><i class="bi bi-ethernet">&nbsp;</i>natter</a></li>
        <li><a href="/ddns"><i class="bi bi-hdd-rack-fill">&nbsp;</i>ddns</a></li>
        <li><a href="/GIT"><i class="bi bi-git">&nbsp;</i>Git ID</a></li>
    </ul>
    <ul class="mt-3">
        <form>
            <li>
                <span id="natter-tips"
                      class="btn bg-secondary text-white text-decoration-none">注意：默认启动参数为 -p</span>
            </li>
        </form>
    </ul>
    <br class="text-center">
</nav>


<div class="container mt-5">
    <p class="text-white-50">将目标端口转发至外网，若想使用其它参数，请自行修改代码。在此填写要穿透的端口号和 SRV 记录
        ID在下面填写你要穿透的端口号和 SRV 记录 ID</p>

    <h1>PORT 1</h1>

    <form method="post">

        {{ form.hidden_tag() }}

        <!-- 表单字段 -->
        <div class="form-group">
            {{ form.PORT1_record_id.label }}
            {{ form.PORT1_record_id(class="form-control", placeholder="Git ID返回的ID（如果不想用SRV映射的话不用填）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT1_PORT.label }}
            {{ form.PORT1_PORT(class="form-control", placeholder="需要穿透的端口号" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT1_protocols.label }}
            {{ form.PORT1_protocols(class="form-control", placeholder="填TCP或UDP（大写）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT1_subdomain.label }}
            {{ form.PORT1_subdomain(class="form-control", placeholder="SRV填法举例：_minecraft._tcp
            （minecraft代表服务名，tcp是协议）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT1_record_line.label }}
            {{ form.PORT1_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT1_priority.label }}
            {{ form.PORT1_priority(class="form-control", placeholder="SRV解析优先级，一般填0 5即可（0
            5中间要有空格），当然，我不知道所有SRV都填05会怎么样" ) }}
        </div>

        <h1>PORT 2</h1>

        <div class="form-group">
            {{ form.PORT2_record_id.label }}
            {{ form.PORT2_record_id(class="form-control", placeholder="Git ID返回的ID（如果不想用SRV映射的话不用填）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT2_PORT.label }}
            {{ form.PORT2_PORT(class="form-control", placeholder="需要穿透的端口号" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT2_protocols.label }}
            {{ form.PORT2_protocols(class="form-control", placeholder="填TCP或UDP（大写）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT2_subdomain.label }}
            {{ form.PORT2_subdomain(class="form-control", placeholder="SRV填法举例：_minecraft._tcp
            （minecraft代表服务名，tcp是协议）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT2_record_line.label }}
            {{ form.PORT2_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT2_priority.label }}
            {{ form.PORT2_priority(class="form-control", placeholder="SRV解析优先级，一般填0 5即可（0
            5中间要有空格），当然，我不知道所有SRV都填05会怎么样" ) }}
        </div>

        <h1>PORT 3</h1>

        <div class="form-group">
            {{ form.PORT3_record_id.label }}
            {{ form.PORT3_record_id(class="form-control", placeholder="Git ID返回的ID（如果不想用SRV映射的话不用填）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT3_PORT.label }}
            {{ form.PORT3_PORT(class="form-control", placeholder="需要穿透的端口号" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT3_protocols.label }}
            {{ form.PORT3_protocols(class="form-control", placeholder="填TCP或UDP（大写）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT3_subdomain.label }}
            {{ form.PORT3_subdomain(class="form-control", placeholder="SRV填法举例：_minecraft._tcp
            （minecraft代表服务名，tcp是协议）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT3_record_line.label }}
            {{ form.PORT3_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT3_priority.label }}
            {{ form.PORT3_priority(class="form-control", placeholder="SRV解析优先级，一般填0 5即可（0
            5中间要有空格），当然，我不知道所有SRV都填05会怎么样" ) }}
        </div>

        <h1>PORT 4</h1>

        <div class="form-group">
            {{ form.PORT4_record_id.label }}
            {{ form.PORT4_record_id(class="form-control", placeholder="Git ID返回的ID（如果不想用SRV映射的话不用填）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT4_PORT.label }}
            {{ form.PORT4_PORT(class="form-control", placeholder="需要穿透的端口号" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT4_protocols.label }}
            {{ form.PORT4_protocols(class="form-control", placeholder="填TCP或UDP（大写）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT4_subdomain.label }}
            {{ form.PORT4_subdomain(class="form-control", placeholder="SRV填法举例：_minecraft._tcp
            （minecraft代表服务名，tcp是协议）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT4_record_line.label }}
            {{ form.PORT4_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT4_priority.label }}
            {{ form.PORT4_priority(class="form-control", placeholder="SRV解析优先级，一般填0 5即可（0
            5中间要有空格），当然，我不知道所有SRV都填05会怎么样" ) }}
        </div>

        <h1>PORT 5</h1>

        <div class="form-group">
            {{ form.PORT5_record_id.label }}
            {{ form.PORT5_record_id(class="form-control", placeholder="Git ID返回的ID（如果不想用SRV映射的话不用填）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT5_PORT.label }}
            {{ form.PORT5_PORT(class="form-control", placeholder="需要穿透的端口号" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT5_protocols.label }}
            {{ form.PORT5_protocols(class="form-control", placeholder="填TCP或UDP（大写）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT5_subdomain.label }}
            {{ form.PORT5_subdomain(class="form-control", placeholder="SRV填法举例：_minecraft._tcp
            （minecraft代表服务名，tcp是协议）" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT5_record_line.label }}
            {{ form.PORT5_record_line(class="form-control", placeholder="记录线路，没有特殊需求的话，填‘默认’即可" ) }}
        </div>

        <div class="form-group">
            {{ form.PORT5_priority.label }}
            {{ form.PORT5_priority(class="form-control", placeholder="SRV解析优先级，一般填0 5即可（0
            5中间要有空格），当然，我不知道所有SRV都填05会怎么样" ) }}
        </div>


        <button type="submit" class="btn btn-primary custom-submit-button">保存</button>

    </form>


</div>

</body>
</html>
